body { 
 background: url(https://www.kikk.be/2017/files/templates/kikk2017/public/assets/images/headers/gorilla.png);
background-repeat: no-repeat;
}
.popup-window
{
position:absolute;
top:50%;
left:50%;
width:22%;
height:45%;
overflow:auto;
transform:translate(-80%,-40%);
background-color:#567483;
transition:cubic-bezier(.165,.84,.44,1) .9s
}

.h1{
	transform: rotate(-15deg);
}
.header{

	
	
}

.footer {
  background-color: #0b1e38;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: beige;
  text-align:center;
}

.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.5;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: "";
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(135deg);
}