body{
position:relative;	
background-color: #ebebe5;
margin-left:0px;
}

.white-background{
	width:1920px;
    height:1920px;
	background-color:white;
}


.grid1 {
display: grid;
grid-template-rows: repeat(1, 1fr);
grid-template-columns: repeat(22, 1fr);
grid-gap: 1px;
position:absolute;

}

.box1 {
color: white;
padding: 7px;
margin-top: 1.25px;
margin-bottom: 1px;

}

.box1:nth-child(1)
{
grid-column: span 21;
font-family: nimbus-sans,arial;
font-size: 14px;
font-weight: 700;
padding-left:875px;
}
.box1:nth-child(2)
{
grid-column: span 1;
font-family: nimbus-sans,arial;
font-size: 14px;
font-weight: 700;
padding-left:24.8px;
}

.zagolovok{
color: white;
}

.swiper-slide{
position:relative;
right: 0%; /* Расстояние от правого края окна браузера */
top: -8px; /* Расстояние от верхнего края окна браузера */
width:1920px;
    height:1029px;
}

.swiper-slide-background{
	position:absolute;
	width:1920px;
    height:1029px;
	top: -30px;
}

.cherdak{
position:absolute;
position:center;
margin-left: 910px;
margin-top: 50px;
}
.shop{
margin-top:50px;
position:absolute;
margin-left:1840px;
box-sizing:box-border;
cursor:pointer;
}

.grid2 {
display: grid;
grid-template-rows: repeat(1, 1fr);
grid-template-columns: repeat(30, 1fr);
grid-gap: 15px;
margin-top: 20px;
position:absolute

}

.box2 {
color: white;
padding: 7px;
text-align: center;
text-decoration: underline;
margin-top: 30px;
}
.box2:nth-child(1)
{
grid-column: span 2;
font-size: 20px;
font-weight: 600px;
height:75px;
box-sizing:box-border;
cursor:pointer;
font-family: "Staatliches" , cursive;
letter-spacing:1px;
}
.box2:nth-child(2)
{
grid-column: span 1;
font-size: 20px;
font-weight: 600px;
height:75px;
box-sizing:box-border;
cursor:pointer;
font-family: "Staatliches" , cursive;
letter-spacing:1px;
}
.box2:nth-child(3)
{
grid-column: span 1;
font-size: 20px;
font-weight: 600px;
height:75px;
box-sizing:box-border;
cursor:pointer;
font-family: "Staatliches" , cursive;
letter-spacing:1px;
}

.horizontal-line{
position:absolute;
width:1920px;
background:white;
border:none;
height:1px;
margin-top:30px;
}

.posle-slide{
margin-top:60px;
position:relative;
width:1920px;
height:520px;
}

.photo-left{
position:absolute;
left: 250px;
color: black;
}

.photo-left:hover{
	color: #b7b09c;
}

.text-photo-left{
margin-top: 4%;
text-align:center;
font-family: "Staatliches" , cursive;
font-size: 30px;
font-weight: 900px;
letter-spacing: 2px;
}

h1{
text-align:center;
font-family: nimbus-sans-condensed, arial;
font-size: 22px;
font-weight: 900px;
color: black;
}

.photo-center{
position:absolute;
left: 735px;
color: black;
}

.photo-center:hover{
	color: #b7b09c;
}

.text-photo-center{
margin-top: 4%;
text-align:center;
font-family: "Staatliches" , cursive;
font-size: 30px;
font-weight: 900px;
letter-spacing: 2px;
}

.photo-right{
position:absolute;
left: 1220px;
color: black;
}

.photo-right:hover{
	color: #b7b09c;
}

.text-photo-right{
margin-top: 4%;
text-align:center;
font-family: "Staatliches" , cursive;
font-size: 30px;
font-weight: 900px;
letter-spacing: 2px;
}



.center-project{
width:1920px;
height:675px;
}

.center-project-knopcka-1{
	width:1920px;
  position: absolute;
	display: flex;
    justify-content: center;
}

.center-project-knopcka:hover{
	color: black;
	background-color: white;
}

.center-project-knopcka{
	text-align: center;
	width: 200px;
	height: 34px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	padding-top: 5px;
	letter-spacing: 4px;
	font-size: 23px;
	font-family: "Staatliches" , cursive;
}


.photo-center-project{
background-image:url(image/портной.jpg);
background-repeat:no-repeat;
position:absolute;
margin-top:65px;
width:1920px;
height:610px;

}


.text-1-center-project{
margin-top:260px;
text-align:center;
font-family: nimbus-sans-condensed,arial;
letter-spacing: 5px;
color: #fff;
}


h2{
text-align:center;
font-family: nimbus-sans-extended,arial;
font-size: 32px;
letter-spacing: 7px;
color: #fff;
}

.posledniy-block{
width:1920px;
height:800px;
}

.posledniy-block-1{
	position:absolute;
	margin-top:60px;
	margin-left:50px;
}

.grid-container {
display: grid;
grid-template-areas: "post-1 post-2"
                     "post-1 post-3";
grid-template-rows: repeat(2, 340px);
grid-template-columns: repeat(2, 890px);
grid-gap: 30px;
}

.post-1 {
grid-area: post-1;
}

.post-1:hover{
	color: #b7b09c;
}

.block-text-post-1-h3{
	position:absolute;
}

.block-text-post-1{
	position:absolute;
	width:375px;
    height:80px;
	left:515px;
	bottom:85px;
	
}
.text-post-1{
	
	position:absolute;
	font-family: nimbus-sans,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: none;
	text-align:right;
}

.post-2 {
grid-area:post-2;
}

.post-2:hover{
	color: #b7b09c;
}

.block-text-post-2-h3{
	position:absolute;
	left:1474px;
	bottom:570px;
}

.block-text-post-2{
	position:absolute;
	width:375px;
    height:80px;
	left:1475px;
	bottom:500px;
	
}

.text-post-2{
	font-family: nimbus-sans,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    text-transform: none;
	text-align:left;
}

.post-3 {
grid-area: post-3;
}

.post-3:hover{
	color: #b7b09c;
}

.block-text-post-3-h3{
	position:absolute;
	left:1474px;
	bottom:240px;
}

.block-text-post-3{
	position:absolute;
	width:375px;
    height:80px;
	left:1475px;
	bottom:160px;
	
}

.text-post-3{
	font-family: nimbus-sans,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    text-transform: none;
	text-align:left;
}

h3{
bottom:0;
font-family: "Staatliches" , cursive;
letter-spacing:1px;
font-size: 20px;
}

.author{
	width:1920px;
    height:253px;
	background-color:white;
}


.podval{
	width:1920px;
    height:41px;
	background-color:black;
	color: #7b7b7b;
}